hl\:md-code {
	font-size: .85em;
	line-height: 1em;
	font-family: 'Lucida Console', monospace;
	white-space: pre;
}

hl\:md-block {
}

hl\:md-header-1 {
	color: #339;
	font-size: 32px;
}

hl\:md-header-2 {
	color: #339;
	font-size: 28px;
}

hl\:md-header-3 {
	color: #339;
	font-size: 24px;
}

hl\:md-quote {
	color: #393;
}

hl\:md-list-item {
	color: #933;
}

hl\:md-strong {
	font-weight: bold;
}

hl\:md-em {
	font-style: italic;
}

hl\:md-remark {
	color: #777;
}

hl\:md-ghost {
	color: #ddd;
}
